/*RESET*/
* {
  margin: 0;
}
/*COMMON*/
.container {
  width: 1024px;
  margin: auto;
}
.testo-grigio {
  color: gray;
}
.testo-celeste {
  color: rgb(3, 149, 247);
}
.testo-bianco {
  color: white;
}
.evidenziatore {
  background-color: yellow;
}
.paragrafo {
  margin-top: 20px;
}
/*HEADER*/
header {
  background-color: rgb(38, 157, 255);
  background-image: url(../img/pattern.png);
  background-size: 450px;
}
.logo {
  height: 60px;
  margin-top: 50px;
}
/*FINE HEADER*/
/*MAIN*/
/*INTESTAZIONE*/
.titolo {
  font-size: 40px;
  margin-top: 20px;
  line-height: 35px;
}
.data {
  font-size: 12px;
}
.foto {
  margin-top: 20px;
}
/*FINE INTESTAZIONE*/
/*CONTENUTO TESTUALE*/
.lista {
  margin-top: 20px;
}
.tabella {
  margin-top: 20px;
  border-spacing: 0;
}
.thead {
  background-color: blue;
  color: white;
}
.sfondo-tabella {
  background-color: rgb(64, 252, 252);
}
.testo-tabella {
  width: 50%;
}
/*FINE CONTENUTO TESTUALE*/
/*FINE MAIN*/
/*FOOTER*/
footer {
  margin-top: 20px;
}
.potrebbero-interessarti {
  color: white;
  background-image: url(../img/monitor.jpg);
  width: 300px;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.potrebbero-interessarti1 {
  color: white;
  background-image: url(../img/graph.jpg);
  width: 300px;
  height: 250px;
  margin-bottom: 20px;
}
/*FINE FOOTER*/
